<nav id="sidebar">
    <div class="sidebar_blog_1">
       <div class="sidebar-header">
          <div class="logo_section">
             <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
          </div>
       </div>
       <div class="sidebar_user_info">
          <div class="icon_setting"></div>
          <div class="user_profle_side">
             <div class="user_img"><img class="img-responsive" src="images/layout_img/user_img.jpg" alt="#" /></div>
             <div class="user_info">
                <h6>{{session.get('username')}}</h6>
                <p><span class="online_animation"></span> Online</p>
             </div>
          </div>
       </div>
    </div>
    <div class="sidebar_blog_2">
       <h4>General</h4>
       <ul class="list-unstyled components">
          <li class="active">
             <a href="#"  hx-get="/dashboard" hx-trigger="click" 
             hx-target="body" hx-swap="innerHTML" hx-push-url="true"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
          </li>
          <li>
            <a href="#" hx-get="/tasks" hx-trigger="click" 
               hx-target="body" hx-swap="innerHTML" hx-push-url="true">
               <i class="fa fa-tasks red_color"></i>
               <span>Task</span>
            </a>
          </li>
          <li>
            <a href="#" hx-get="/users" hx-trigger="click" 
               hx-target="body" hx-swap="innerHTML" hx-push-url="true">
               <i class="fa fa-user white_color"></i>
               <span>User</span>
            </a>
          </li>
          <li>
             <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Elements</span></a>
             <ul class="collapse list-unstyled" id="element">
                <li><a href="general_elements.html">> <span>General Elements</span></a></li>
                <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                <li><a href="icons.html">> <span>Icons</span></a></li>
                <li><a href="invoice.html">> <span>Invoice</span></a></li>
             </ul>
          </li>
          <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
       </ul>
    </div>
 </nav>