{% extends 'base/base.html' %}
{% block content %}
<div class="row column1">
    <div class="col-md-2"></div>
    <div class="col-md-8">
       <div class="white_shd full margin_bottom_30">
          <div class="full graph_head">
             <div class="heading1 margin_0">
                <h2>Task Detaile</h2>
             </div>
          </div>
          <div class="full price_table padding_infor_info">
             <div class="row">
                <!-- user profile section --> 
                <!-- profile image -->
                <div class="col-lg-12">
                   <div class="full dis_flex center_text">
                      <!-- <div class="profile_img"><img width="180" class="rounded-circle " alt="#"></div> -->
                      <div class="profile_contant">
                         <div class="contact_inner">
                            <h3>Task Name</h3>
                            <p><strong>{{task.name|upper}}</strong></p>
                         </div>
                         <div class="contact_inner">
                            <h3>Task Details</h3>
                            <p><strong>{{task.description|capitalize}}</strong></p>
                         </div>
                      </div>
                   </div>
                   <!-- profile contant section -->
                   <div class="full margin_top_30 text-right">
                    {# <!-- <a href="/updateTask/{{task.id}}" class="btn btn-info">
                        <span class="fa fa-pencil">&ThickSpace;UPDATE</span>
                    </a> --> #}
                    <button type="button" class="btn btn-info" hx-get="/updateTask/{{task.id}}" hx-trigger="click" 
                                 hx-swap="innerHTML" 
                                 hx-target="body" hx-push-url="true"><span class="fa fa-pencil"> 
                                 </button>
                    {# comments <!-- <a href="/deleteTask/{{task.id}}" class="btn btn-danger">
                        <span class="fa fa-trash">&ThickSpace;DELETE</span>
                    </a> -->#}
                    <button type="button" class="btn btn-danger" hx-get="/delete_redirect/{{task.id}}" hx-trigger="click" 
                                 hx-swap="innerHTML" 
                                 hx-target="body" hx-push-url="true"><span class="fa fa-trash">
                                 </button>
                </div>
                   <!-- end user profile section -->
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-2"></div>
    </div>
    <!-- end row -->
 </div>
{% endblock %}